@media only screen and (max-width: 1108px) {
  .wrapper {
    width: 90%;
  }
}


/*BELOW ARE CHANGES FOR WHEN THE SCREEN GETS SMALLER*/
@media only screen and (max-width: 875px) {
  body {
    font-size: 85%;
  }

}

/*BELOW ARE CHANGES FOR NAVBAR HAMBURGER ICON*/
@media only screen and (max-width: 700px) { /*THIS IS MAKING REGULAR NAV DISAPEAR*/
  #navbar nav a {
    display: none;
  }

#navbar nav a.menu-icon { /*THIS IS MAKING HAMBURGER ICON APPEAR*/
  display: block;
  float: right;
  font-size: 1.5em;
  padding: 10px 20px;
  width: auto;
}
}


@media only screen and (max-width: 700px) {
  .col-1, .col-2, .col-3, .col-4, .col-services, .col-contact, .col-4-gradient, .col-5-gradient {
    width: 100%;
    margin-left: 0;
    float: none;
  }
  body {
    font-size: 75%;
  }
  #attention {
    font-size: 3em;
  }

}
