
@import url('https://fonts.googleapis.com/css?family=Rozha+One');

/*above is the font im importing in for oh, hello.*/

/*comment*/


/*comment*/

p {
  font-size: 1em;
  line-height: 1.5em;
}



#attention {
  font-weight: normal;
  font-size: 6em;
  line-height: 0.0em;
  font-family: 'Rozha One', serif;
  text-align: center;
}
/*comment*/

.main {
  font-weight: normal;
  font-size: 2em;
  line-height: 1em;
  font-family: Arial, serif;
  text-align: center;
}

/*LAYOUT STYLING (centering content)*/
.wrapper {
  width: 960px;
  margin: 0 auto;
  background: #eee;
}

/*//COLUMNS//*/
/* this one is 1/3 of the space */
.col-1 {
  float: left;
  width: 32%;
}
/* this one is 2/3 of the space */
.col-2 {
  float: left;
  width: 66%;
}
/* this one is 3/3 of the space */
.col-3 {
  background: #ccc;
}

/* this is calling all items with
 a class of col- to be styled
 a certain way */
[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}

/* this is preventing children
 from collapsing because they
 are all floating */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
